.container {
  display: flex;
  flex: 0 0 20%;
  justify-content: space-between;
  align-items: center;
}


.link {
  display: inline-block;
  text-decoration: none;
  padding: 12;
  font-weight: 700;
  color: #2A363B;
  margin-right: 5px;
}

.activeLink {
  color: #E84A5F;
}